<div class="aa-footer">
  [[ translations.allProducts ]]
  <a class="aa-footer-link" href="/search?q=[[ query ]]">
    [[ translations.matching ]]
    <span class="aa-query">
      "[[ query ]]"
    </span>
  </a>
  (<span class="aa-nbhits">[[# helpers.formatNumber ]][[ nbHits ]][[/ helpers.formatNumber ]]</span>)
</div>
