<div class="aa-products-empty">
  <p class="aa-no-result">
    [[# helpers.no_result_for ]] "[[ query ]]" [[/ helpers.no_result_for]]
  </p>

  <p class="aa-see-all">
    <a href="/search?q=">
      [[ translations.allProducts ]]
    </a>
  </p>
</div>
