<div class="
  aa-columns-container

  [[# with.articles ]] aa-with-articles [[/ with.articles ]]
  [[^ with.articles ]] aa-without-articles [[/ with.articles ]]

  [[# with.collections ]] aa-with-collections [[/ with.collections ]]
  [[^ with.collections ]] aa-without-collections [[/ with.collections ]]

  [[# with.footer ]] aa-with-footer [[/ with.footer ]]
  [[^ with.footer ]] aa-without-footer [[/ with.footer ]]

  [[# with.poweredBy ]] aa-with-powered-by [[/ with.poweredBy ]]
  [[^ with.poweredBy ]] aa-without-powered-by [[/ with.poweredBy ]]

  [[# with.products ]] aa-with-products [[/ with.products ]]
  [[^ with.products ]] aa-without-products [[/ with.products ]]

  [[# with.pages ]] aa-with-pages [[/ with.pages ]]
  [[^ with.pages ]] aa-without-pages [[/ with.pages ]]
">
  <div class="aa-dataset-products aa-right-column"></div>

  <div class="aa-left-column">
    <div class="aa-collections">
      <div class="aa-collections-header">
        Collections
      </div>
      <div class="aa-dataset-collections"></div>
    </div>

    <div class="aa-articles">
      <div class="aa-articles-header">
        Blog posts
      </div>
      <div class="aa-dataset-articles"></div>
    </div>

    <div class="aa-pages">
      <div class="aa-pages-header">
        Pages
      </div>
      <div class="aa-dataset-pages"></div>
    </div>

    <div class="aa-powered-by">
      <a
        class="aa-powered-by-logo"
        href="https://www.algolia.com/?utm_source=shopify&utm_medium=link&utm_campaign=autocomplete-[[ storeName ]]"
      ></a>
    </div>
  </div>
</div>
