<div class="ais-hit-empty">
  <div class="ais-hit-empty--title">[[ translations.noResultFound ]]</div>
  <div class="ais-hit-empty--clears">
    [[# helpers.try_clear_or_change_input ]]
      <a class="ais-hit-empty--clear-filters ais-link"> </a>
      <a class="ais-hit-empty--clear-input ais-link"> </a>
    [[/ helpers.try_clear_or_change_input ]]
  </div>
</div>
