[[# label ]]
  <div class="ais-current-refined-values--label">[[ label ]]</div>[[^ operator ]]:[[/ operator]]
[[/ label ]]

[[# operator ]]
  [[& displayOperator ]]
  [[# helpers.formatNumber ]][[ name ]][[/ helpers.formatNumber ]]
[[/ operator ]]
[[^ operator ]]
  [[# exclude ]]-[[/ exclude ]][[ name ]]
[[/ operator ]]
