<div class="aa-page">
  <div class="aa-picture" style="background-image: url('[[# helpers.iconImage ]][[/ helpers.iconImage ]]')"></div>
  <div class="aa-text">
    <span class="aa-title">[[& _highlightResult.title.value ]]</span>
  </div>
</div>
