<div class="ais-page">
  <div class="ais-facets-button">
    Show filters
  </div>
  <div class="ais-facets">
      <div class="ais-current-refined-values-container"></div>
    [[# facets ]]
      <div class="ais-facet-[[ type ]] ais-facet-[[ escapedName ]]"></div>
    [[/ facets ]]
  </div>
  <div class="ais-block">
    <div class="ais-input">
      <div class="ais-input--label">
        [[ translations.search ]]
      </div>
      <div class="ais-search-box-container"></div>
      <div class="ais-input-button">
        <div class="ais-clear-input-icon"></div>
        <a title="Search by Algolia - Click to know more" href="https://www.algolia.com/?utm_source=shopify&utm_medium=link&utm_campaign=instantsearch-[[ storeName ]]">
          <div class="ais-algolia-icon"></div>
        </a>
      </div>
    </div>
    <div class="ais-search-header">
      <div class="ais-stats-container"></div>
      <div class="ais-change-display">
        <span class="ais-change-display-block ais-change-display-selected"><i class="fa fa-th-large"></i></span>
        <span class="ais-change-display-list"><i class="fa fa-th-list"></i></span>
      </div>
      <div class="ais-sort">
        [[ translations.sortBy ]]
        <span class="ais-sort-orders-container"></span>
      </div>
    </div>
    <div class="ais-hits-container ais-results-as-block"></div>
  </div>
  <div class="ais-pagination-container"></div>
</div>
