{% comment %}
    Static file for the addition of custom ratings widgets.
    Use variable {{ ProdID }} to represent product.id
{% endcomment %}
<span class="shopify-product-reviews-badge" data-id="{{ ProdId }}" ></span>