{% comment %}

When using this snippet, pass a string using the "with” parameter to identify
what SVG element you want to display.
EX: {% include 'svg-definitions' with 'shopify-logo' %}

The string will be used as the condition in the case control flow tag below and used
in writing the SVG class attribute.
EX: class="shopify-logo-svg"

{% endcomment %}

{% assign icon = svg-definitions %}
{% case icon %}
  {% when 'shopify-logo' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="{{ icon }}-svg" viewBox="0 0 150 43" version="1.1" aria-hidden="true">
    <title>Shopify logo</title>
    <path fill="#999999" d="M33.3,8.9 C33.3,8.9 33.3,8.7 33.2,8.6 C33.1,8.5 33,8.5 33,8.5 L29.6,8.3 L27.5,6.2 C27.4,6.1 27.3,6.1 27.2,6.1 L25.4,42.2 L38,39.5 L33.3,8.9 Z M25.8,5.9 L24.9,6.2 C24.3,4.6 23.6,3.4 22.6,2.7 C21.9,2.2 21.1,2 20.3,2.1 C20.1,1.9 19.9,1.7 19.7,1.5 C18.8,0.8 17.6,0.6 16.1,1.2 C11.8,2.7 10,8.3 9.3,11 L5.5,12.1 C5.5,12.1 4.6,12.3 4.4,12.6 C4.2,12.9 4.1,13.6 4.1,13.6 L0.9,37.9 L24.5,42.3 L26.3,6 C26.1,5.8 25.9,5.9 25.8,5.9 Z M20.1,7.6 L16,8.9 C16.5,6.8 17.6,4.6 19.6,3.8 C20,4.8 20.1,6.3 20.1,7.6 Z M16.6,2.4 C17.5,2.1 18.2,2.1 18.7,2.4 C16,3.6 14.8,6.7 14.3,9.3 L11,10.3 C11.7,7.8 13.3,3.6 16.6,2.4 Z M18.9,20.3 C18.7,20.2 18.5,20.1 18.2,20 C17.9,19.9 17.7,19.8 17.4,19.7 C17.1,19.6 16.8,19.6 16.4,19.5 L15.3,19.5 C15,19.5 14.7,19.6 14.4,19.7 C14.1,19.8 13.9,19.9 13.7,20.1 C13.5,20.3 13.4,20.5 13.3,20.7 C13.2,20.9 13.1,21.2 13.1,21.4 C13.1,21.6 13.1,21.8 13.2,22 C13.3,22.2 13.4,22.4 13.5,22.6 C13.7,22.8 13.9,23 14.1,23.2 C14.3,23.4 14.6,23.6 14.9,23.8 C15.4,24.1 15.8,24.4 16.3,24.8 C16.8,25.2 17.2,25.6 17.5,26.1 C17.9,26.6 18.2,27.1 18.4,27.8 C18.6,28.4 18.7,29.1 18.7,29.9 C18.6,31.1 18.4,32.2 17.9,33.1 C17.5,34 16.8,34.7 16.1,35.2 C15.4,35.7 14.5,36 13.6,36.1 C12.7,36.2 11.7,36.2 10.8,35.9 C10.3,35.8 9.9,35.6 9.5,35.5 C9.1,35.3 8.7,35.1 8.3,34.9 C8,34.7 7.6,34.5 7.4,34.3 C7.1,34.1 6.9,33.9 6.7,33.6 L7.8,30 C8,30.2 8.2,30.3 8.5,30.5 C8.8,30.7 9.1,30.9 9.4,31 C9.7,31.2 10.1,31.3 10.4,31.5 C10.8,31.6 11.1,31.7 11.5,31.8 L12.3,31.8 C12.5,31.7 12.8,31.6 12.9,31.5 C13.1,31.4 13.2,31.2 13.3,31 C13.4,30.8 13.4,30.6 13.5,30.3 C13.5,30.1 13.5,29.8 13.4,29.6 C13.3,29.4 13.2,29.2 13.1,28.9 C13,28.7 12.8,28.5 12.5,28.2 C12.3,28 12,27.7 11.6,27.5 C11.2,27.2 10.8,26.9 10.4,26.5 C10.1,26.1 9.7,25.8 9.5,25.3 C9.3,24.9 9.1,24.4 8.9,23.9 C8.8,23.4 8.7,22.9 8.7,22.3 C8.7,21.3 8.9,20.5 9.3,19.7 C9.6,18.9 10.1,18.2 10.7,17.5 C11.3,16.9 12,16.3 12.9,15.9 C13.8,15.5 14.7,15.2 15.8,15 C16.3,14.9 16.8,14.9 17.2,14.9 C17.7,14.9 18.1,14.9 18.5,15 C18.9,15.1 19.3,15.1 19.6,15.2 C19.9,15.3 20.2,15.4 20.5,15.5 L18.9,20.3 Z M21.5,7.2 L21.5,6.7 C21.5,5.4 21.3,4.3 21,3.5 C21.3,3.5 21.6,3.6 21.9,3.8 C22.7,4.3 23.2,5.4 23.6,6.6 L21.5,7.2 Z"/>
    <path fill="#999999" d="M45.3,29.6 C46.2,30.1 47.8,30.7 49.4,30.7 C50.8,30.7 51.6,29.9 51.6,29 C51.6,28.1 51.1,27.5 49.5,26.6 C47.6,25.5 46.2,24 46.2,22 C46.2,18.5 49.2,16 53.6,16 C55.5,16 57,16.4 57.8,16.8 L56.6,20.3 C55.9,20 54.8,19.6 53.5,19.6 C52.1,19.6 51.2,20.2 51.2,21.3 C51.2,22.1 51.9,22.7 53.1,23.3 C55.1,24.4 56.7,25.9 56.7,28 C56.7,32 53.5,34.2 49,34.1 C46.9,34.1 45,33.5 44.1,32.9 L45.3,29.6 Z M57.7,34.1 L62.6,8.9 L67.6,8.9 L65.7,18.7 L65.8,18.7 C67.1,17.1 68.9,16 71.1,16 C73.7,16 75.2,17.7 75.2,20.5 C75.2,21.4 75.1,22.7 74.8,23.8 L72.8,34.1 L67.8,34.1 L69.7,24.2 C69.8,23.5 69.9,22.7 69.9,22 C69.9,20.9 69.5,20.2 68.3,20.2 C66.7,20.2 65,22.2 64.3,25.5 L62.6,34.2 L57.7,34.2 L57.7,34.1 Z M93.3,23 C93.3,29.1 89.3,34.4 83.4,34.4 C78.9,34.4 76.5,31.3 76.5,27.5 C76.5,21.5 80.5,16.1 86.5,16.1 C91.2,16.1 93.3,19.4 93.3,23 Z M81.6,27.3 C81.6,29.1 82.3,30.5 84,30.5 C86.7,30.5 88.1,25.8 88.1,22.8 C88.1,21.3 87.5,19.8 85.7,19.8 C83.1,19.9 81.6,24.5 81.6,27.3 Z M92.1,41.1 L95.6,23 C96,21 96.4,18.3 96.6,16.4 L101,16.4 L100.7,19.2 L100.8,19.2 C102.1,17.3 104.1,16.2 106.1,16.2 C109.8,16.2 111.3,19.1 111.3,22.5 C111.3,28.5 107.4,34.6 101.6,34.6 C100.4,34.6 99.2,34.1 98.7,34.1 L98.6,34.1 L97.2,41.1 L92.1,41.1 Z M99.3,29.9 C99.8,30.3 100.5,30.6 101.4,30.6 C104.2,30.6 106.1,26 106.1,22.8 C106.1,21.5 105.6,20.1 104.1,20.1 C102.4,20.1 100.7,22.1 100.1,25.2 L99.3,29.9 Z M111.5,34.1 L114.9,16.4 L120,16.4 L116.6,34.1 L111.5,34.1 Z M118,14.5 C116.6,14.5 115.6,13.4 115.6,11.9 C115.6,10.3 116.9,9 118.5,9 C120,9 121,10.1 121,11.6 C121,13.4 119.6,14.5 118,14.5 Z M120.9,34.1 L123.6,20.1 L121.3,20.1 L122,16.4 L124.3,16.4 L124.4,15.6 C124.8,13.5 125.6,11.4 127.3,10 C128.6,8.9 130.4,8.4 132.2,8.4 C133.4,8.4 134.3,8.6 134.9,8.8 L133.9,12.7 C133.5,12.6 133,12.4 132.3,12.4 C130.6,12.4 129.6,13.9 129.3,15.6 L129.1,16.4 L132.6,16.4 L131.9,20.1 L128.4,20.1 L125.7,34.1 L120.9,34.1 L120.9,34.1 Z M138.9,16.4 L139.7,24.3 C139.9,26.1 140.1,27.6 140.1,28.5 L140.2,28.5 C140.6,27.6 141,26.2 141.7,24.3 L144.8,16.4 L150,16.4 L143.9,29.5 C141.7,34 139.6,37.2 137.3,39.4 C135.5,41.1 133.4,41.9 132.4,42.1 L131,37.9 C131.8,37.6 132.9,37.2 133.8,36.5 C135,35.7 135.9,34.6 136.5,33.5 C136.6,33.2 136.7,33 136.6,31.6 L133.6,16.4 L138.9,16.4 Z"/>
  </svg>

  {% when 'lock-icon' %}
    <svg xmlns="http://www.w3.org/2000/svg" class="{{ icon }}-svg" viewBox="0 0 17 20" version="1.1" aria-hidden="true">
      <title>Lock icon</title>
      <path fill="#FFFFFF" d="M15.725,8.3333333 L15.3,8.3333333 L15.3,6.875 C15.3,3.02 12.3131,0 8.5,0 C4.6869,0 1.7,3.02 1.7,6.875 L1.7,8.3333333 L1.275,8.3333333 C0.5712,8.3333333 0,8.8933333 0,9.5833333 L0,18.75 C0,19.44 0.5712,20 1.275,20 L15.725,20 C16.4288,20 17,19.44 17,18.75 L17,9.5833333 C17,8.8933333 16.4288,8.3333333 15.725,8.3333333 L15.725,8.3333333 L15.725,8.3333333 Z M4.25,6.875 C4.25,4.3808333 6.07665,2.5 8.5,2.5 C10.92335,2.5 12.75,4.3808333 12.75,6.875 L12.75,8.3333333 L4.25,8.3333333 L4.25,6.875 L4.25,6.875 Z M10.2,15.0166667 C10.2,15.9275 9.44605,16.6666667 8.517,16.6666667 L8.483,16.6666667 C7.55395,16.6666667 6.8,15.9275 6.8,15.0166667 L6.8,13.3166667 C6.8,12.4058333 7.55395,11.6666667 8.483,11.6666667 L8.517,11.6666667 C9.44605,11.6666667 10.2,12.4058333 10.2,13.3166667 L10.2,15.0166667 L10.2,15.0166667 Z"/>
    </svg>

  {% when 'phone' %}
    <svg width="15px" height="16px" viewBox="0 0 15 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Generator: Sketch 46.2 (44496) - http://www.bohemiancoding.com/sketch -->
      <title>Phone</title>
      <desc>Created with Sketch.</desc>
      <defs></defs>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Desktop---v2---Dark" transform="translate(-1191.000000, -19.000000)" fill="#FFFFFF">
              <g id="Header---BnB">
                  <g id="Top-Bar">
                      <g id="Group" transform="translate(1180.000000, 14.000000)">
                          <path d="M21.1021672,20.9984421 C20.9671408,20.9773242 20.8327545,20.9491671 20.6970882,20.9363683 C20.1211466,20.880694 19.5772017,20.7053518 19.0454156,20.4903336 C18.1802233,20.1415689 17.4097414,19.6366601 16.6789355,19.0619983 C16.0812361,18.5922859 15.5168133,18.0854573 14.9997457,17.5306335 C14.256141,16.7326344 13.5490127,15.9045584 12.9289156,15.0022498 C12.5116779,14.3955913 12.1296366,13.7703747 11.8135086,13.1074019 C11.5223381,12.4969037 11.2881219,11.862728 11.1460563,11.2003952 C11.0193491,10.6110149 10.971354,10.0094759 11.0167894,9.40921671 C11.0916618,8.42499646 11.4180287,7.52460773 12.0144483,6.73428783 C12.283861,6.37720402 12.599349,6.061716 12.9685916,5.79742279 C13.2085672,5.62592017 13.408227,5.39618346 13.6494825,5.22596071 C14.1556712,4.86759703 14.6433018,4.95206847 15.0970158,5.36226689 C15.5929656,5.81150136 15.9282916,6.38168357 16.2661773,6.94610636 C16.467117,7.28143237 16.6584576,7.62763728 16.801803,7.98984057 C17.1102518,8.7699215 16.9829047,9.45017256 16.2661773,10.0056363 C15.9385305,10.2596905 15.6044844,10.5086253 15.2992353,10.7882769 C14.9843872,11.0762477 14.8551203,11.4378111 14.9248733,11.8812861 C15.0368619,12.592894 15.4150636,13.1681957 15.8169429,13.7319786 C16.3013738,14.4122296 16.8529978,15.0387261 17.4513372,15.621707 C17.8538564,16.0139873 18.2864525,16.3723509 18.7894416,16.6289649 C19.1266874,16.8011075 19.4940102,16.9079767 19.8690121,16.785749 C20.0545933,16.7255951 20.2299356,16.6052873 20.3816002,16.4779402 C20.7764402,16.145174 21.1360837,15.7688921 21.5456422,15.4566038 C22.0204741,15.0950404 22.5580196,15.1206378 23.087246,15.3497346 C23.6030337,15.573072 24.0330701,15.9231165 24.4477481,16.2936389 C24.6768448,16.4984182 24.9225799,16.6852792 25.1420777,16.8990176 C25.4793235,17.2285842 25.7858524,17.5837482 25.9099998,18.0566602 L25.9099998,18.4047849 C25.8184891,18.6844366 25.6597852,18.9180129 25.4390076,19.1138331 C25.1887929,19.3352506 24.9462575,19.5656273 24.6979627,19.7883247 C24.6173309,19.8606374 24.5328594,19.9316702 24.4407088,19.9867046 C24.1060227,20.1882842 23.7745363,20.3981829 23.4270515,20.5760849 C23.0296518,20.7783044 22.6002553,20.8890131 22.1548605,20.9357284 C22.0147147,20.9504469 21.8745689,20.9773242 21.735063,20.9984421 L21.1021672,20.9984421 Z" id="Phone"></path>
                      </g>
                  </g>
              </g>
          </g>
      </g>
    </svg>

  {% when 'account' %}
    <svg width="25px" height="25px" viewBox="0 0 25 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: Sketch 46.2 (44496) - http://www.bohemiancoding.com/sketch -->
        <title>Account icon</title>
        <desc>Created with Sketch.</desc>
        <defs></defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Desktop---v2---Dark" transform="translate(-1095.000000, -139.000000)" fill="#FFFFFF">
                <g id="Header---BnB">
                    <g id="Group-4" transform="translate(1095.000000, 139.000000)">
                        <path d="M10.4071429,17.1130952 L11.2869048,17.0095238 L11.2869048,12.8559524 L10.8571429,12.5559524 C10.3642857,12.2166667 9.83690476,11.3035714 9.44642857,10.1238095 L9.27738095,9.55357143 L8.73928571,9.46071429 C8.68452381,9.41547619 8.5547619,9.27738095 8.44285714,9.02380952 C8.43690476,9.01071429 8.43214286,9 8.42738095,8.98809524 L9.0797619,9.17142857 L8.88928571,7.67619048 C8.83095238,7.22619048 8.80119048,6.79166667 8.80119048,6.38095238 L8.79642857,5.84880952 C8.775,3.9047619 8.90595238,3.83214286 9.60714286,3.76904762 C10.5309524,3.68809524 10.8833333,3.01071429 11.075,2.64285714 C11.2607143,2.27857143 11.3833333,2.03809524 12.3833333,2.00119048 L12.6952381,1.9952381 C13.7571429,1.9952381 15.5964286,2.1952381 16.125,3.51666667 C16.102381,3.58809524 16.0619048,3.68928571 16.0285714,3.77380952 C15.8154762,4.325 15.4940476,5.15833333 15.6559524,6.51190476 C15.6857143,6.73928571 15.6416667,7.06547619 15.6,7.38690476 L15.4357143,8.88214286 L16.0666667,8.81309524 C16.052381,8.88095238 16.0321429,8.95952381 16.0011905,9.0452381 C15.9357143,9.24285714 15.8511905,9.38571429 15.7892857,9.47857143 L15.2345238,9.47857143 L15.0047619,10.1619048 C14.6333333,11.2845238 14.1440476,12.1559524 13.6964286,12.4940476 L13.3,12.7928571 L13.3,17.0214286 L14.1738095,17.1321429 C18.2904762,17.6452381 21.552381,19.7904762 22.2821429,22.4095238 L2.17261905,22.4083333 C2.90595238,19.7559524 6.2202381,17.6047619 10.4071429,17.1130952 M15.2952381,15.2821429 L15.2952381,13.7333333 C15.8452381,13.1678571 16.3309524,12.3333333 16.7380952,11.25 C17.2333333,10.9583333 17.65,10.397619 17.8916667,9.69285714 C18.2333333,8.70119048 18.1297619,7.74642857 17.6333333,7.20238095 C17.6642857,6.9047619 17.6797619,6.58928571 17.6380952,6.26547619 C17.5345238,5.40714286 17.7166667,4.94166667 17.8952381,4.48214286 C18.0535714,4.0702381 18.25,3.55833333 18.0440476,2.96428571 C17.3797619,1.05238095 15.4809524,0 12.6892857,0 L12.3154762,0.00595238095 C10.4071429,0.075 9.73809524,0.875 9.30238095,1.725 C9.28928571,1.75238095 9.27619048,1.77619048 9.26428571,1.79880952 C6.76071429,2.11785714 6.78452381,4.3702381 6.80119048,5.87142857 L6.80595238,6.38571429 C6.80595238,6.63095238 6.81428571,6.88571429 6.83095238,7.14642857 C6.22619048,7.69761905 6.13571429,8.75 6.61666667,9.83452381 C6.88095238,10.4238095 7.25952381,10.8916667 7.6952381,11.1642857 C8.13333333,12.3488095 8.6702381,13.2488095 9.29166667,13.8440476 L9.29166667,15.2583333 C3.91190476,16.175 0.114285714,19.4904762 0.0238095238,23.3821429 L0,24.4047619 L24.45,24.4047619 L24.4285714,23.3821429 C24.3380952,19.5345238 20.597619,16.2285714 15.2952381,15.2821429" id="Account-icon"></path>
                    </g>
                </g>
            </g>
        </g>
    </svg>

  {% when 'about' %}
    <svg data-name="Layer 1" id="Layer_1" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <style>.cls-1{fill:#7dccfc;}</style>
      </defs>
      <title/>
      <path class="cls-1" d="M16,1A15,15,0,1,0,31,16,15,15,0,0,0,16,1Zm2,22a2,2,0,0,1-4,0V16a2,2,0,0,1,4,0ZM16,12.19A2.19,2.19,0,1,1,18.19,10,2.19,2.19,0,0,1,16,12.19Z"/>
    </svg>

  {% when 'blog' %}
    <svg baseProfile="tiny" height="24px" id="Layer_1" version="1.2" viewBox="0 0 24 24" width="24px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <path d="M6.002,15.999C4.895,15.999,3.998,16.896,4,18c0,1.104,0.896,2.001,2.002,1.999C7.105,20.001,8.002,19.105,8,18  C8.002,16.893,7.105,15.997,6.002,15.999z"/>
      <path d="M6,4C4.896,4,4,4.896,4,6s0.896,2,2,2c5.514,0,10,4.486,10,10c0,1.104,0.896,2,2,2s2-0.896,2-2C20,10.28,13.72,4,6,4z"/>
      <path d="M6,10c-1.104,0-2,0.896-2,2s0.896,2,2,2c2.205,0,4,1.794,4,4c0,1.104,0.896,2,2,2s2-0.896,2-2C14,13.589,10.411,10,6,10z"/>
    </svg>

  {% when 'wholesale' or 'wholesale-registration' %}
    <svg enable-background="new 0 0 64 64" height="64px" id="Layer_1" version="1.1" viewBox="0 0 64 64" width="64px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <path d="M47.955,42.392l-2.983-9.544c-0.165-0.527-0.728-0.818-1.253-0.656l-8.867,2.772l7.083-4.439  c0.468-0.293,0.609-0.91,0.316-1.378l-6.91-11.026c-0.292-0.468-0.91-0.609-1.378-0.316l-8.744,5.479l-1.336-4.274  c-0.66-2.11-3.037-4.812-6.891-3.609c-0.791,0.247-1.231,1.088-0.984,1.879c0.247,0.791,1.088,1.229,1.879,0.984  c2.174-0.682,2.95,1.093,3.132,1.64l7.97,25.497c-2.004,1.313-2.99,3.841-2.241,6.24c0.722,2.309,2.831,3.86,5.249,3.86  c0.556,0,1.108-0.084,1.642-0.251c1.402-0.438,2.55-1.396,3.231-2.698c0.442-0.843,0.628-1.766,0.603-2.692l8.335-2.605  c0.791-0.247,1.231-1.088,0.984-1.879c-0.248-0.792-1.09-1.232-1.879-0.984l-8.323,2.601l0,0l10.709-3.347  c0.253-0.079,0.464-0.256,0.587-0.491S48.034,42.645,47.955,42.392z M30.356,36.368c-0.253,0.079-0.464,0.256-0.587,0.491  s-0.148,0.509-0.069,0.762l2.153,6.889h0l-4.545-14.541l3.844,6.133c0.003,0.005,0.009,0.008,0.013,0.013L30.356,36.368z" fill="#231F20" opacity="0.2"/>
      <polygon fill="#F5CF87" points="  31.999,32.57 31.999,32.57 41.403,26.676 41.403,26.676 34.493,15.65 34.493,15.65 25.088,21.544 25.088,21.544 " stroke="#F5CF87" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
      <path d="  M45.36,42.822l-13.362,4.177L22.45,16.456c0,0-1.193-3.818-5.011-2.624" fill="none" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="3"/>
      <polygon fill="#E0995E" points="  33.638,43.867 33.638,43.867 47,39.69 47,39.69 44.017,30.146 44.017,30.146 30.654,34.322 30.654,34.322 " stroke="#E0995E" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
      <ellipse cx="31.997" cy="46.999" fill="#F5CF87" rx="4" ry="4" stroke="#4F5D73" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="3" transform="matrix(0.9545 -0.2983 0.2983 0.9545 -12.5645 11.6864)"/>
    </svg>

  {% when 'contact' %}
    <svg baseProfile="tiny" height="24px" id="Layer_1" version="1.2" viewBox="0 0 24 24" width="24px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <path d="M12,4c-4.411,0-8,3.589-8,8s3.589,8,8,8c1.616,0,3.172-0.479,4.499-1.384c0.456-0.312,0.574-0.934,0.263-1.39  c-0.311-0.457-0.932-0.572-1.39-0.263C14.378,17.642,13.212,18,12,18c-3.309,0-6-2.691-6-6s2.691-6,6-6s6,2.691,6,6v0.5  c0,0.552-0.448,1-1,1s-1-0.448-1-1v-3c0-0.553-0.447-1-1-1c-0.441,0-0.805,0.29-0.938,0.688C13.482,8.761,12.773,8.5,12,8.5  c-1.93,0-3.5,1.57-3.5,3.5s1.57,3.5,3.5,3.5c1.045,0,1.975-0.47,2.616-1.199C15.164,15.024,16.024,15.5,17,15.5c1.654,0,3-1.346,3-3  V12C20,7.589,16.411,4,12,4z M12,13.5c-0.827,0-1.5-0.673-1.5-1.5s0.673-1.5,1.5-1.5s1.5,0.673,1.5,1.5S12.827,13.5,12,13.5z"/>
    </svg>

  {% when 'track-orders' %}
    <svg baseProfile="tiny" height="24px" id="Layer_1" version="1.2" viewBox="0 0 24 24" width="24px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g>
        <g>
          <path d="M16,19H8c-1.654,0-3-1.346-3-3V8c0-1.654,1.346-3,3-3h5c0.553,0,1,0.448,1,1s-0.447,1-1,1H8C7.448,7,7,7.449,7,8v8    c0,0.551,0.448,1,1,1h8c0.552,0,1-0.449,1-1v-3c0-0.552,0.447-1,1-1s1,0.448,1,1v3C19,17.654,17.654,19,16,19z"/>
        </g>
      </g>
      <g>
        <g>
          <path d="M13.166,14.833c-0.35,0-0.689-0.139-0.941-0.391l-2.668-2.667c-0.52-0.521-0.52-1.365,0-1.885    c0.521-0.521,1.365-0.521,1.887,0l1.416,1.417l3.475-5.455c0.357-0.644,1.17-0.877,1.814-0.519    c0.643,0.358,0.875,1.17,0.518,1.813l-4.334,7c-0.203,0.366-0.566,0.615-0.98,0.673C13.289,14.829,13.229,14.833,13.166,14.833z"/>
        </g>
      </g>
    </svg>

  {% when 'gift-cards' %}

    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100" height="100" viewBox="0 0 100 100">
      <g>
        <g transform="translate(50 50) scale(0.69 0.69) rotate(0) translate(-50 -50)" style="fill:#66a65d;">
          <svg fill="#66a65d" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1107.79 882.22" x="0px" y="0px">
            <title>gift-cards</title>
            <g data-name="Calque 2">
              <g data-name="Calque 1">
                <path d="M1007.79,241.22h-746a100.1,100.1,0,0,0-100,100v441a100.1,100.1,0,0,0,100,100h746a100.11,100.11,0,0,0,100-100v-441A100.11,100.11,0,0,0,1007.79,241.22Zm-546,585h-200a44,44,0,0,1-44-44v-204h160c-29.5,64.93-44.6,142.63-44.6,142.63l80.72-12.17c0-53,25.53-96.41,47.88-124.28Zm0-391.17c-27.29-29.26-67.29-62.09-103-52.42,0,0-92.24,105.05-48.69,112.74,22.31,3.93,54.34,9.89,82.36,17.85H217.79v-172a44,44,0,0,1,44-44h200Zm590,347.18a44,44,0,0,1-44,44h-481V583.58c22.5,27.84,48.54,71.61,48.54,125.1L656,720.85s-15.1-77.7-44.6-142.63h440.35Zm0-269h-455c28-8,60.06-13.92,82.36-17.85,43.56-7.69-48.68-112.74-48.68-112.74-36-9.74-76.33,23.7-103.63,53.14V297.22h481a44.05,44.05,0,0,1,44,44Z"></path>
                <path d="M152.1,90.55A44,44,0,0,1,195,56a44.53,44.53,0,0,1,9.57,1.05l599,132.16h190a99.32,99.32,0,0,0-48.36-26.1L216.6,2.38A100,100,0,0,0,97.41,78.48l-95,430.65a100,100,0,0,0,76.1,119.19l35.3,7.79V578.77l-23.23-5.13A44.05,44.05,0,0,1,57.07,521.2Z"></path>
              </g>
            </g>
          </svg>
        </g>
      </g>
    </svg>

{% endcase %}
