<select id="uncomplicated-category-select" class="category-select show-styled">
    <option value="" selected="selected" disabled="disabled">&lt;Jump to a category&gt;</option>
        <option value="/collections/country-of-origin/Dominican-Republic-Cigars">Dominican Republic Cigars</option>
    <option value="/collections/country-of-origin/Nicaragua-Cigars">Nicaragua Cigars</option>
    <option value="/collections/country-of-origin/Honduras-Cigars">Honduras Cigars</option>
    <option value="/collections/country-of-origin/US-Cigars">US Cigars</option>
    <option value="/collections/country-of-origin/Bahamas-Cigars">Bahamas Cigars</option>

</select>
{{ 'uncomplicated.categories.catlist.min.js' | asset_url | script_tag }}
{{ 'uncomplicated.categories.catlist.css' | asset_url | stylesheet_tag }}
