<div class="main-container">
  <div class="section-header section-header--large">
    {% include 'breadcrumb' %}
    <h1 class="section-header__title">{{ shop.metafields.locales.edit_account }}</h1>
    {{ 'layout.customer.log_out' | t | customer_logout_link }}
  </div>

  <div class="grid">

    <div class="grid__item two-thirds medium-down--one-whole">

      {% comment %}
        This form must use 'create_customer'
      {% endcomment %}
      {% include 'customer-fields' %}

    </div>

  </div>
</div>