<div class="main-container">

  <header class="section-header">
    {% include 'breadcrumb' %}
    <h1 class="section-header__title">
      {{ page.title }}
    </h1>
  </header>

  {% comment %}
    Regular page content goes here.
  {% endcomment %}


  <div class="rte clearfix">
    {% comment %}{{ page.content }}{% endcomment %}
    <p>BnB Tobacco carries a large selection of machine made cigars and filtered cigars.  Machine Made cigars offers an affordable smoking option for the everyday tobacco enthusiast.  Whether you prefer cigarillos, filtered, menthol or flavored cigars we have you covered.  We carry numerous premium brand name cigars such as Swisher Sweets, Phillies, Black &amp; Mild, Dutch Masters, Game, Garcia y Vega, Backwoods and many other quality brands.  You will not find a wider selection of machine-made cigars than we have at BnB Tobacco.</p>
    <p><strong>Browse Machine Made</strong></p>
    <div class="main-table">
       <div class="main-table-inner">
         <div class="table-section">
           <ul>
              <li>
                 <a href="https://bnb-tobacco.myshopify.com/pages/machine-made-brands" title="Premium  Machine Made Brands"><strong>Search by Brand</strong></a>
              </li>
              <li>
                 <a href="https://bnb-tobacco.myshopify.com/collections/new-machine-made" title="New  Machine Made Cigars">New Cigars</a>
              </li>
              <li>
                 <a href="https://bnb-tobacco.myshopify.com/collections/on-sale-machine-made" title="On Sale  Machine Made Cigars">On Sale</a>
              </li>
              <li>
                 <a href="https://bnb-tobacco.myshopify.com/collections/top-sellers-machine-made" title="Top Selling  Machine Made Cigars">Top Sellers</a>
              </li>
              <li>
                 <a href="https://bnb-tobacco.myshopify.com/collections/close-out-machine-made" title="Close Out  Machine Made Cigars">Close Outs</a>
              </li>
            </ul>
          </div>
          <div class="table-section">
            <h5>Cigar Type</h5>
            <ul>
              <li>
                 <a href="https://bnb-tobacco.myshopify.com/collections/machine-made-cigars-blunts" title="Blunt Cigars">Cigars/Blunts</a>
              </li>
              <li>
                 <a href="https://bnb-tobacco.myshopify.com/collections/machine-made-cigarillos" title="Cigarillos Cigars">Cigarillos</a>
              </li>
              <li>
                 <a href="https://bnb-tobacco.myshopify.com/collections/machine-made-tipped-cigarillos" title="Tip Cigarillos Cigars">Tip Cigarillos</a>
              </li>
              <li>
                 <a href="https://bnb-tobacco.myshopify.com/pages/little-cigar-brands" title="Filtered Little Cigars">Filtered Little Cigars</a>
              </li>
              <li>
                 <a href="https://bnb-tobacco.myshopify.com/pages/blunt-wrap-brands" title="Cigar Wraps">Cigar Wraps</a>
              </li>
           </ul>
         </div>
         <div class="table-section">
            <h5>Packaging</h5>
            <ul>
              <li>
                 <a href="https://bnb-tobacco.myshopify.com/collections/box-packaging-machine-made" title="Box Cigars">Box</a>
              </li>
              <li>
                 <a href="https://bnb-tobacco.myshopify.com/collections/pack-packaging-machine-made" title="Pack Cigars">Pack</a>
              </li>
              <li>
                 <a href="https://bnb-tobacco.myshopify.com/pages/little-cigar-brands" title="Carton Cigars">Carton</a>
              </li>
              <li>
                 <a href="https://bnb-tobacco.myshopify.com/collections/upright-packaging-machine-made" title="Upright Cigars">Upright</a>
              </li>
            </ul>
          </div>
          <div class="table-section">
            <h5>Price Range</h5>
            <ul>
              <li>
                 <a href="https://bnb-tobacco.myshopify.com/collections/10-machine-made" title="Under $10 Cigars">&lt; $10</a>
              </li>
              <li>
                 <a href="https://bnb-tobacco.myshopify.com/collections/10-20-machine-made" title="$10 - $20 Cigars">$10-$20</a>
              </li>
              <li>
                 <a href="https://bnb-tobacco.myshopify.com/collections/20-40-machine-made" title="$20 - $40 Cigars">$20-$40</a>
              </li>
              <li>
                 <a href="https://bnb-tobacco.myshopify.com/collections/40-50-machine-made" title="$40 - $50 Cigars">$40-$50</a>
              </li>
              <li>
                 <a href="https://bnb-tobacco.myshopify.com/collections/over-50-machine-made" title="Over $50 Cigars">Over $50</a>
              </li>
            </ul>
         </div>
         <div class="table-section">
            <h5>Top Brands</h5>
            <ul>
              <li>
                 <a href="https://bnb-tobacco.myshopify.com/collections/swisher-sweets" title="Swisher Sweets Cigars">Swisher Sweets</a>
              </li>
              <li>
                 <a href="https://bnb-tobacco.myshopify.com/collections/dutch-masters" title="Dutch Masters Cigars">Dutch Masters</a>
              </li>
              <li>
                 <a href="https://bnb-tobacco.myshopify.com/collections/black-mild" title="Black &amp; Mild Cigars">Black &amp; Mild</a>
              </li>
              <li>
                 <a href="https://bnb-tobacco.myshopify.com/collections/white-owl" title="White Owl Cigars">White Owl</a>
              </li>
              <li>
                 <a href="https://bnb-tobacco.myshopify.com/collections/phillies" title="Phillies Cigars">Phillies</a>
              </li>
              <li>
                 <a href="https://bnb-tobacco.myshopify.com/collections/garcia-y-vega" title="Garcia y Vega Cigars">Garcia y Vega</a>
              </li>
              <li>
                 <a href="https://bnb-tobacco.myshopify.com/collections/game" title="Game Cigars">Game</a>
              </li>
              <li>
                 <a href="https://bnb-tobacco.myshopify.com/collections/king-edward" title="King Edward Cigars">King Edward</a>
              </li>
              <li>
                 <a href="https://bnb-tobacco.myshopify.com/collections/hav-a-tampa" title="Hav A Tampa Cigars">Hav A Tampa</a>
              </li>
              <li>
                 <a href="https://bnb-tobacco.myshopify.com/collections/antonio-y-cleopatra" title="Antonio y Cleopatral Cigars">Antonio y Cleopatra</a>
              </li>
            </ul>
         </div>
         <div class="table-section">
            <ul>
              <li>
                <a href="https://bnb-tobacco.myshopify.com/pages/slightly-damaged-items" title="Slightly Damaged Items">Slightly Damaged Items</a>
              </li>
              <li>
                <a href="http://www.cigardevil.com/deals/machine-made-cigars" targe="_blank" title="Devilish Daily Deals">Devilish Daily Deals</a>
              </li>
            </ul>
         </div>
       </div>
    </div>
  </div>

</div>